@import "tailwindcss";
@plugin "daisyui";
*{
  box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    
}
/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
 
.scrollbar{
  scrollbar-width:thin;
  scrollbar-color: #5cc080 #1f2937;
}
